h1 {
    font-size: 30px;
  }
    p {
    font-size: 30px;
  } 
     ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
  }
  
  li {
    display: inline;
  }
  
  *{
  margin:9px; padding:0; boxsizing:border-box;
  }
  header{
  width: 100%; height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  }
  nav{
  width: 97%; height: 10vh;
  background: #383838;
  display: flex; justify-content: space-between;
  align-items: center;
  }
  nav .mainmenu{
  width: 30%;
  display: flex; justify-content: space-around;
  }
  main{
  width: 100%; height: 85vh;
  display: flex; justify-content: center;
  align-items: center;
  text-align: center;
  }
  section h3{
  letter-spacing: 10px; font-weight: 200;
  }
  section h1{
  text-transform: uppercase;
  }
  section div{
  animation:changeborder 10s infinite linear;
  
  }